<!DOCTYPE html>
<html ng-app="plunker">
  <!-- IPL UPDATES -->

  <head>
    <meta charset="utf-8" />
    <title>Indian Premier League T20</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <!-- Bootstrap core CSS -->
    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.5.x" src="angular.min.js" data-semver="1.5.11">
    </script>
    <script src="data.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller="MainCtrl">
    <h1 class="text-center">Indian Premier League T20</h1>
    <h1 class="text-center">Congratulations Ramesh</h1>
    <table class="tstats-table" cellpadding="0" cellspacing="0">
      <tr>
        <th>S.N</th>
        <th colspan="2">Match</th>
        <th>Location</th>
        <th>Date</th>
        <th>Result</th>
        <td ng-repeat="user in data[0].users | orderBy:['-wins', 'name']"  class="user-name">{{user.name}}</td>
      </tr>
      <tr class="points">
        <td colspan="6" class="text-right">W/T</td>
        <td ng-repeat="user in data[0].users | orderBy:['-wins', 'name']">{{user.wins}}/{{total}}</td>
      </tr>
      <tr ng-repeat="d in data">
        <td>{{d.index}}</td>
        <td>{{d.match[0]}}</td>
        <td>{{d.match[1]}}</td>
        <td>{{d.location}}</td>
        <td>{{d.date | date:"MMM d"}}</td>
        <td class="indicator" ng-class="{'result':d.result!=''}"><span>{{d.result}}</span></td>
        <td ng-repeat="user in d.users | orderBy:['-wins', 'name']"
         class="indicator" ng-class="{'correct':user.team==d.result && d.result!='','wrong':user.team!=d.result && d.result!=''}"><span>{{user.team}}</span></td>
      </tr>
    </table>
    
    <h3 class="text-center">Credits</h3>
    <table class="tstats-table">
      <tr>
        <th>Name</th>
        <th>Total</th>
        <th>Paid</th>
        <th>Due</th>
      </tr>
      <tr ng-repeat="user in users">
        <td>{{user.name}}</td>
        <td>{{(total-win[user.key])*amount}}</td>
        <td>{{user.paid}}</td>
        <td>{{(total-win[user.key])*amount-user.paid}}</td>
      </tr>
      <tr>
        <td><strong>All</strong></td>
        <td>{{allAmount}}</td>
        <td>{{allPaid}}</td>
        <td>{{allAmount-allPaid}}</td>
      </tr>
    </table>
  </body>

</html>
